extends layout

block content

    h4 Hometown
    p.flow-text.
        My name is Aidan Michael Follestad. I was born on July 28<sup>th</sup>, 1995 in St. Paul, Minnesota to my mom
        Natalie Michael (maiden name <em>Swenson</em>), and my dad Jeffrey Follestad. I grew up living in St. Paul and
        Minneapolis&#8212; the great Twin Cities. As I was growing up, my parents let me try many different things and
        provided me with the resources to try them; the major things that came out were playing the drums, snowboarding,
        and computer programming (my <a href="skills">skills</a> and <a href="work">work experience</a> pages
        contain specifics about what I know).

    hr
    h4 School

    p.flow-text.
        I went to <a target="_blank" href="http://www.childrenshousemontessori-stpaul.com/">Children's House</a>
        Montessori on Randolph in St. Paul for pre-school. I later attended <a target="_blank"
                                                                           href="http://armatage.mpls.k12.mn.us">Armatage</a>
        in Minneapolis for kindergarten. From 1<sup>st</sup> grade to 6<sup>th</sup> grade, I attended <a
            target="_blank" href="http://lmap.spps.org">Linwood A+ Elementary School</a> in St. Paul before the school
        merged with Monroe. For 7<sup>th</sup> and 8<sup>th</sup>
        grade, I attended <a target="_blank" href="http://ramsey.spps.org">Ramsey Junior High</a>.
        I graduated from <a target="_blank" href="http://central.spps.org">Central Senior High School</a> with the Class of 2014;
        I attended the <a target="_blank" href="https://www.uwstout.edu">University of Wisconsin Stout</a> for a year,
        but I'm currently taking a break as it's not required for my work at the moment.

    hr
    h4 Career Path

    p.flow-text.
        I'm currently employed by SkillFitness&trade; LLC, in downtown Minneapolis, MN, which started
        out as independent contracting. Before that, I was employed as the <em>lead Android and iOS developer</em> for a
        small startup company in Bloomington, MN called Ricco Solutions. I've
        been a programmer for 7+ years. I've received job offers at Facebook and Dropbox in the past,
        but I was limited by my location and college. In the future, I'd like to start my own
        app development company, or work for Google.

    p.flow-text.
        You can see evidence of my work and reputation I've gotten from being
        an active Android developer in the community by <a target="_blank"
        href="http://www.google.com/search?q=Aidan+Follestad">
        searching my name on Google</a>.</p>

    hr
    h4 Favorite Quotes

    p.flow-text.
        <em>&#8220;Your time is limited, don’t waste it living someone else’s life. Don’t be trapped by dogma,
        which is living the result of other people’s thinking. Don’t let the noise of other opinions
        drown your own inner voice. And most important, have the courage to follow your heart and intuition,
        they somehow already know what you truly want to become. Everything else is secondary.&#8221;</em> &#8212; <span id="highlight">Steve Jobs</span>
    p.flow-text.
        <em>&#8220;Religion is the sigh of the oppressed creature, the heart of a
            heartless world and the soul of soulless conditions. It is the opium of
        the people.&#8221;</em> &#8212; <span id="highlight">Karl Marx</span>