extends layout

block content
    div(class='valign-wrapper center-align', style='overflow-x: hidden')
        div(class='valign center-align', style='overflow-x: hidden')
            h2 Welcome!
            p.homeParagraph.
                My name is Aidan Follestad. I'm a young and professional software developer with many talents and a passion
                for all things Google.