extends layout

block content

    h4 SkillFitness&trade;

    p(class='flow-text').
        I adapted the already-existing iOS version to Android. SkillFitness&trade; helps professionals reach their full
        potential through training, collaboration, and self-discovery. It's quickly being developed to other professional
        and non-professional fields. It's available on both <a href='https://play.google.com/store/apps/details?id=com.skillfitness.skillfitness'>Android</a> and
        <a href='https://itunes.apple.com/us/app/skillfitness/id787386054'>iOS</a>, your company needs to be signed up
        in order to have credentials to login.

    img(class="app-image", src="https://raw.githubusercontent.com/afollestad/ui-showcase/master/skillfitness.png")

    hr

    h4 PhotoAffix

    p(class='flow-text').
        PhotoAffix makes it easy to stitch multiple photos together, horizontally or vertically. The image below is an
        example of what it can do. It's currently in beta, you can <a href='opt-in to Google Play Beta Testing'>https://play.google.com/apps/testing/com.afollestad.photoaffix</a>, 
        or download an APK from the <a href='https://github.com/afollestad/photo-affix'>open source repository</a>.

    img(class="app-image", src="https://raw.githubusercontent.com/afollestad/photo-affix/master/art/demoshowcase.jpg")

    hr

    h4 Cabinet

    p(class='flow-text').
        Cabinet is a minimalist file manager that I designed for Android devices in
        order to improve the availability of good file managers on Android that are
        up to date with Google's Material design guidelines. It's available
        on <a target="_blank" href="https://play.google.com/store/apps/details?id=com.afollestad.cabinet">Google
        Play</a>, and there's a <a target="_blank" href="https://plus.google.com/communities/110440751142118056139">
        Google+ community</a>. Version 2.0 is coming soon with some big features.

    img(class="app-image", src="https://raw.githubusercontent.com/afollestad/ui-showcase/master/cabinet.png")

    hr

    h4 CoupCash

    p(class='flow-text').
        This is one of the most recent projects that I've worked on. It's still under heavy development and
        the marketing campaign isn't completely launched yet. This was originally a project started for a client
        when I worked at Ricco Solutions, the owners however have given me part-ownership and shares of their startup.
        We have an <a target="_blank" href="http://coupcash.com">official website</a>, and it's available on
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.recoup.android">Google Play</a>
        and in the <a target="_blank" href="https://itunes.apple.com/us/app/coupcash/id873106087">Apple App Store</a>.

    img(class="app-image", src="https://raw.githubusercontent.com/afollestad/ui-showcase/master/coupcash.png")

    hr

    h4 Impression

    p(class='flow-text').
        Impression is a Material Gallery replacement for Android 4.0+. This project got pretty far along, but I
        haven't had enough time to work on it. So, I made it open source. The source code and latest APK can be found
        <a href='https://github.com/afollestad/impression'>on the GitHub repository</a>.

    img(class="app-image", src="https://raw.githubusercontent.com/afollestad/ui-showcase/master/impression.png")

    h4 Boid for Twitter

    p(class='flow-text').
        This is the first major project I had worked on. I had originally been working on
        another Twitter app called <em>Peeper</em> as an experiment, but <a target="_blank"
                                                                        href="https://twitter.com/redbullcat">Philip
        Oakley</a>
        and <a target="_blank" href="https://twitter.com/gmph">Graham MacPhee</a> contacted me over
        email with design mockups and ideas for a new Twitter application for Android.
        I became their coder and we worked on Boid for quite some time while it spread
        like a virus and got almost 50,000 downloads. <a target="_blank" href="https://twitter.com/kennydude">Joe
        Simpson</a>
        joined our team as another coder to help me out. We eventually had to take the
        project down from Google Play because Twitter changed their API policies
        and Boid became too much to maintain and update. You can find information
        about this project by <a target="_blank" href="https://www.google.com/search?q=Boid+for+Android">searching
        Google</a>.

    img(class='app-image', src='https://raw.githubusercontent.com/afollestad/ui-showcase/master/boid.png')

    hr

    h4 Overhear Music Player

    p(class='flow-text').
        Overhear was an experimental music player I had developed to mess around with Android's content provider system.
        It was published for a while but I decided I succeeded with my experiment and unpublished it.

    img(class='app-image', src='https://raw.githubusercontent.com/afollestad/ui-showcase/master/overhear.png')

    hr

    h4 material-dialogs

    p(class='flow-text').
        This library is a solution I had to using Material design themed dialogs across all versions of Android,
        not just Lollipop. It also makes building and theming dialogs easier. The project is <a href='https://github.com/afollestad/material-dialogs'>
        available on GitHub</a>, and there's also a <a href='https://play.google.com/store/apps/details?id=com.afollestad.materialdialogssample'>sample on Google Play</a>.

    img(class="app-image", src="https://raw.githubusercontent.com/afollestad/material-dialogs/master/art/mdshowcase.png")

    hr

    h4 material-cab

    p(class='flow-text').
        This library is a solution to an issue I had in Cabinet. The stock contextual action bar (selection mode) on
        Android is limited in placement and dynamic customization (for Cabinet's theme engine). This library allows the
        CAB to be dynamically themed and placed wherever you like. It can be <a href='https://github.com/afollestad/material-cab'>found on GitHub</a>.

    hr

    h4 Bridge

    p(class='flow-text').
        Bridge is a simple but powerful networking library for Android. It features a Fluent chainable API,
        and it's powered by Java/Android's URLConnection classes for maximum compatibility and speed. It can
        be <a href='https://github.com/afollestad/bridge'>found on GitHub</a>.

    hr

    h4 Inquiry

    p(class='flow-text').
        Inquiry is a simple library for Android that simplifies construction and use of SQLite databases on Android.
        It can be <a href='https://github.com/afollestad/inquiry'>found on GitHub</a>.

    hr

    h4 Other Projects and Contributions

    p(class='flow-text').
        Check out my <a target="_blank" href="https://github.com/afollestad">GitHub page</a> to see my other projects
        libraries, and contributions that aren't listed on this page.</p>