extends layout

block content

    h4 Computer Programming

    h6 Java, Android, and Kotlin

    p.flow-text.
        I professionally develop Android applications from the ground up,
        and follow Google's <a target="_blank" href="http://google.com/design">Design Guidelines</a> to make beautiful
        UI/UX.<br/>JetBrains' newer JVM-based language, Kotlin, has become a focus of mine also.

    h6 HTML and CSS

    p.flow-text.
        This website is evidence of my knowledge of HTML and CSS, along
        with UI/UX design.

    h6 JavaScript/Node.js

    p.flow-text.
        Not only do I have experience with writing client-side JavaScript
        for websites, I also have experience using JavaScript to write server-side scripts (mainly in Node.js). The web
        server this website runs on is an example. Node.js is my backend language of choice.

    h6 C# and ASP.NET

    p.flow-text.
        I learned C# before I learned Java. I currently use C# and ASP.NET at SkillFitness for our backend CMS and website.

    h6 Objective-C/Swift and iOS

    p.flow-text.
        I've been working with Android for much longer than iOS, but I have
        experience developing iOS applications for Ricco Solutions LLC. I've used and understand both
        Objective-C and Apple's newer Objective-C replacement, Swift. iOS is <em><strong>not</strong></em> a focus of mine, however
        (I'd prefer <em>not</em> to deal with it but will if I have to  ).

    h6 C++

    p.flow-text.
        C++ was one of the first languages I learned, I also reinforced my C++ skills with a college course.

    h6 Other Languages

    p.flow-text.
        Before going to Java from C++, I've used other languages such as Python.

    h6 More Information

    p.flow-text.
        Visit my <a href="projects">projects</a> page to see some of my projects and contributions. You can also
        <a target="_blank" href="http://www.google.com/search?q=Aidan+Follestad">search my name on Google</a> to see
        evidence of my presence in the Android community.</p>

    hr

    h4 Drums

    p.flow-text.
        I've played the drums since I was very young. I played percussion in elementary
        school, junior high school, and for two years of high school. I've played and
        performed with two bands in the past. Listening to and playing music is one of my major passions.

    h4 Snowboarding

    p.flow-text.
        My dad got me into snowboarding when I was very young. It's not quite a
        profession for me compared to my other skills, it's just a hobby, but I love it.
        I went to Colorado in the winter of 2013 with my dad.