extends layout

block addcss
    style.
        .links {
            line-height: 300%;
        }
        .links a {
          font-size: 22px;  
        }

block content

    h4 Circle, Follow, or Connect with Me!
        
    p(class='flow-text links')
        a(href='http://google.com/+AidanFollestad') Google+
        br
        a(href='http://twitter.com/afollestad') Twitter
        br
        a(href='http://instagram.com/afollestad') Instagram
        br
        a(href='https://www.linkedin.com/in/afollestad') LinkedIn