extends layout

block content

    h4 Mobile Solutions Developer, SkillFitness&trade;

    h6 July 2015 &#8212; Present

    p(class='flow-text').
        Android, iOS, and Backend (ASP.NET) developer. Helping professionals reach their full potential through training, collaboration, and self-discovery. And adapting the product to other professional fields.

    hr

    h4 Android App Development Contractor and Consultant, SkillFitness&trade;

    h6 June 2015 &#8212; July 2015

    p(class='flow-text').
        I'm helping SkillFitness bring their iOS-only mobile app to Android and Chrome (via ARC Welder).

    hr

    h4 Android/iOS Developer, CoupCash

    h6 June 2013 &#8212; Present

    p(class='flow-text').
        This was originally under development for a client we had at Ricco Solutions, but I've become
        a permanent part of their team.

    hr

    h4 App Development Contractor, Independent

    h6 June 2015 &#8212; Present

    p(class='flow-text').
        I contract myself as an Android developer. I can help initialize your startup
        with a brand new mobile app, or bring your iOS-only applications to Android.
        I can also help design backend servers in order to create REST APIs and websites.

    hr

    h4 Lead Android and iOS Engineer, Ricco Solutions LLC

    h6 May 2013 &#8212; June 2015

    p(class='flow-text').
        Ricco Solutions is a small startup from Bloomington, MN. I worked along side
        a small team as the lead Android and iOS engineer. I used Java
        and Objective-C to develop mobile applications.

    hr

    h4 Sandwich Artist, Jimmy Johns

    h6 September 2012 &#8212; May 2013

    p(class='flow-text').
        I made sandwiches, did some cashiering, answered the phone and took orders. I also
        washed dishes, cleaned the floor and tables, and unpacked shipments.

    hr

    h4 Stocker, LUSH Cosmetics

    h6 October 2012 &#8212; January 2013

    p(class='flow-text').
        I worked in the stock room to unpack stock and organize it on shelves. I brought
        stock out from the backroom to refill the floor for customers when necessary. I did a little
        cashiering too. This was my first job that I got through a family member who was the manager.

    hr

    h4 More Information

    p(class='flow-text').
        Check out my <a target="_blank" href="http://www.linkedin.com/profile/view?id=317592639">LinkedIn profile</a> for more
        information about my work and education experience.